@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos generales */
body {
  height: 75dvh;
}

/*estilos de header*/
.carouselDos {
  display: none;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #f8edeb;
  color: #d77362;
  font-family: "Aurora" #d77362;
}
header ul {
  color: #ffb5a8;
  font-size: 35px;
  display: flex;
  gap: 150px;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 30px;
}

/* Estilos de main */
.gallery {
  width: 100%;
  gap: 10px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}

.gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
  background-color: #f8edeb;
}

.gallery img:hover {
  transform: scale(1.05);
}

.gallery img:nth-child(2),
.gallery img:nth-child(4),
.gallery img:nth-child(6) {
  display: none;
}

/* Estilos de footer */
footer {
  color: #d77362;
  font-family: "Aurora" #d77362;
  font-size: 50px;
  font-weight: bold;
  display: block;
  text-align: center;
  padding: 5%;
  background-color: #f8edeb;
}

footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: row;
  gap: 0px;
}

footer ul li a img {
  width: 20%;
  height: auto;
}

/*estilos de tablet*/
@media (min-width: 600px) {
  .gallery img:nth-child(2),
  .gallery img:nth-child(4) {
    display: block;
  }
  .titulos {
    margin: 25px;
    font-size: 40px;
  }
  .productos nav ul li {
    font-size: 40px;
  }
  h2 {
    font-size: 35px;
  }
  .contenedor2 button {
    margin-top: -30px;
  }
  .feed p {
    font-size: 30px;
    margin: 5px;
  }
  .mb-3 {
    max-width: 80%;
    margin-left: 10%;
  }
  textarea.form-control {
    width: 100%;
    height: 150px;
    margin: 30px;
  }
  .reseñas p {
    font-size: 35px;
    margin: 15px;
  }
  footer {
    font-size: 35px;
    padding: 2rem;
    margin-top: 10px;
  }
  .pagesFooter {
    margin-top: 20px;
  }
  .pagesFooter li p {
    font-size: 35px;
  }
}
/*estilos de desktop*/
@media (min-width: 1024px) {
  header img {
    max-width: 22%;
    height: auto;
    margin: 5px;
  }
  .titulos {
    font-size: 20px;
  }
  .productos nav ul li {
    list-style: none;
    font-size: 20px;
    gap: 30px;
    margin: 5px;
    margin-bottom: 25px;
  }
  header ul li {
    margin-top: -25px;
  }
  header ul li,
  header p {
    font-size: 18px;
  }
  .carouselUno {
    width: 50%;
  }
  .carouselDos {
    display: block;
    width: 50%;
  }
  .carousel {
    display: flex;
  }
  .carouselUno .carouselDos {
    flex: 1;
    box-sizing: border-box;
  }
  .carouselUno {
    margin-right: 5px;
  }
  .carouselDos {
    margin-left: 5px;
  }
  .gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 3;
  }
  .gallery img:nth-child(2),
  .gallery img:nth-child(4),
  .gallery img:nth-child(6) {
    display: block;
  }
  .titulos {
    margin: 25px;
  }
  main p {
    font-size: 30px;
    margin: 15px;
  }
  .form {
    height: auto;
    margin-left: 60px;
    padding: 50px;
  }
  .mb-3 {
    max-width: 80%;
  }
  textarea.form-control {
    width: 80%;
    height: 80px;
    margin: 5px;
  }
  form-control::placeholder {
    font-size: 50%;
  }
  footer {
    font-size: 20px;
    padding: 2rem;
  }
  footer ul li a img {
    width: 30px;
    margin: 10px;
    height: auto;
  }
  .resFooter {
    margin: 130px;
  }
  .resFooter p {
    font-size: 35px;
  }
  .pagesFooter ul li p {
    font-size: 25px;
    padding: 2rem;
    margin-top: 5px;
  }
}
/*estilos generales*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f8edeb;
}

/* estilos de header */
.titulos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #d77362;
  font-family: "Aurora" #d77362;
  margin: 15px;
  margin-bottom: 15px;
}

header nav ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: row;
  list-style: none;
  font-size: 20px;
  gap: 30px;
  margin: 5px;
  margin-bottom: 25px;
}

/* estilos de main */
.contenedor2 {
  margin: 5px;
  color: #d77362;
  font-family: "Aurora" #d77362;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.articulo,
.btn,
.item1,
.item3,
.item5 {
  width: 100%;
  max-width: 800px;
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
}

.contenedor2 button {
  width: 20%;
  margin-top: -12px;
  margin-bottom: 5px;
  margin-left: 15px;
}

.btn-success {
  background-color: #d77362;
  border-color: #ffb5a8;
  color: #fff;
}

.contenedor2 img {
  border-radius: 8px;
}

.contenedor2 img:hover {
  transform: scale(1.02);
}

.reseñas p:hover {
  transform: scale(1.02);
}

.mb-3 {
  width: 100%;
  height: auto;
  resize: both;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 10px;
}

.form-control::placeholder {
  text-align: center;
  color: #d77362;
  font-family: "Aurora" #d77362;
}

.mb-3 input[type=email] {
  width: 50%;
  box-sizing: border-box;
}

.mb-3 textarea {
  width: 50%;
  box-sizing: border-box;
}

.botEnviar {
  width: 20%;
  margin-bottom: 5px;
  margin-left: 15px;
}

main p {
  color: #d77362;
  font-family: "Aurora" #d77362;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.res span {
  transition: text-shadow 0.3s ease-in-out;
}

.res:hover span {
  text-shadow: 2px 2px 5px rgba(150, 150, 150, 0.5);
}

.botonColor {
  background-color: #d77362;
  border-color: #ffb5a8;
  color: #fff;
}

.reseñas {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 5px;
  width: 100%;
  height: 100vh;
}

.res {
  background-color: #f8edeb;
  border: 1px solid rgba(0, 0, 0, 0.1333333333);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.res {
  color: #d77362;
  font-family: "Aurora" #d77362;
  font-family: 12px;
  margin-bottom: 25px;
}

.reseñas p {
  margin-bottom: 15px;
}

span {
  font-weight: bold;
}

/* estilos de footer */
footer {
  color: #d77362;
  font-family: "Aurora" #d77362;
  text-align: center;
  background-color: #f8edeb;
  margin: 0%;
  padding: 0%;
}

.pagesFooter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  font-size: 20px;
}

.pagesFooter ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: row;
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.pagesFooter li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.resFooter {
  top: 70%;
  width: 90%;
  font-size: 25px;
  margin-left: 5%;
}

/*# sourceMappingURL=style.css.map */
