@import "../utilidades/mixin.scss";

/*estilos de desktop*/

@media (min-width: 1024px) {
  header img {
      max-width: 25%;
      height: auto;
      margin: 5px;
  }

  .titulos {
    font-size: 20px;
  }

  .productos nav ul li {
    @include estilos-page;
  
  }
  
  header ul li {
      margin-top : -25px;
  }
  
  header ul li, header p {
    font-size: 14px;
  }
  
  .carouselUno {
      width: 50%;
  }

  .carouselDos {
      display: block;
      width: 50%;
  }

  .carousel {
      display: flex;
  }

  .carouselUno .carouselDos {
      flex: 1;
      box-sizing: border-box;
  }

  .carouselUno {
      margin-right: 5px;
  }

  .carouselDos {
      margin-left: 5px;
  }

  .gallery {
      @include grid(grid, repeat(2, 1fr), 3);
  }

  .gallery img:nth-child(2),
  .gallery img:nth-child(4),
  .gallery img:nth-child(6) {
      display: block;
  }

  .titulos {
      margin: 25px;
  }

  main p {
      font-size: 30px;
      margin: 15px;
  }

  .form {
      height: auto;
      margin-left: 60px;
      padding: 50px;
  }

  .mb-3 {
      max-width: 80%;
  }

  textarea.form-control {
      width: 80%;
      height: 80px;
      margin: 5px;
  }

  footer {
      font-size: 20px;
      padding: 2rem;
  }

  footer ul li a img {
    width: 30px; 
    margin: 10px;
    height: auto; 
}

.pagesFooter ul li p {
    font-size: 25px;
    padding: 2rem;
    margin-top: 5px;
  }

}