@import "../utilidades/mixin.scss";

/*estilos de tablet*/

@media (min-width: 1024px) {
    header div.inicio img {
        max-width: 50%; 
        height: auto;
        margin: 30px;
    }

    
    .carouselUno {
              width: 50%;
    }
   
    .carouselDos {
        display: block;  
        width: 50%;
    }
    
    .carousel{
        display: flex;
    }

    .carouselUno .carouselDos {
        flex: 1;
        box-sizing: border-box;
  }
  
    .carouselUno {
         margin-right: 5px;
  }


    .carouselDos {
    
         margin-left: 5px;
    
}

    .gallery {
         @include grid(grid, repeat(2, 1fr),3);
 }
    
    .gallery img:nth-child(2),
    .gallery img:nth-child(4),
    .gallery img:nth-child(6) {
         display: block;
 }
 }
 
 

