@import "../utilidades/mixin.scss";

/* Estilos de desktop */

@media (min-width: 1024px) {
    .container .position-relative .position-absolute {
      top: 40% !important;
      left: 40% !important;
    }
  
    .position-relative img.img-fluid {
      max-width: 35%;
      height: auto;
      margin-left: 0 !important;
    }
  
    header .container img {
      max-width: 130%;
    }
  
    .titulos {
      font-size: 20px;
    }
  
    .productos nav ul li {
      @include estilos-page;
    }
  
    header ul li {
      margin-top: 20px;
      font-size: 25px;
    }
  
    .carouselUno {
      width: 50%;
    }
  
    .carouselDos {
      display: block;
      width: 50%;
    }
  
    .carousel {
      display: flex;
    }
  
    .carouselUno .carouselDos {
      flex: 1;
      box-sizing: border-box;
    }
  
    .carouselUno {
      margin-right: 5px;
    }
  
    .carouselDos {
      margin-left: 5px;
    }
  
    .gallery {
      @include grid(grid, repeat(2, 1fr), 3);
    }
  
    .gallery img:nth-child(2),
    .gallery img:nth-child(4),
    .gallery img:nth-child(6) {
      display: block;
    }
  
    .titulos {
      margin: 25px;
    }
  
    main p {
      font-size: 30px;
      margin: 15px;
    }
  
    .form {
      height: auto;
      margin-left: 60px;
      padding: 50px;
    }
  
    .mb-3 {
      max-width: 80%;
    }
  
    textarea.form-control {
      width: 80%;
      height: 80px;
      margin: 5px;
    }
  
    form-control::placeholder {
      font-size: 50%;
    }
  
    footer {
      position: relative;
      width: 100%;
      overflow: hidden;
      margin-top: 5px;
    }
  
    .footerIndex {
      position: relative;
      width: 100%;
    }
  
    .footerBg {
      width: 100%;
      display: block;
      border-radius: 8px;
    }
  
    .contacto {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      list-style: none;
      padding: 0;
      margin: 0;
      margin-top: 10px;
      display: flex;
      gap: 330px;
    }
  
    .contacto img {
      width: 40px;
      height: auto;
    }
   
    .ressFot {
    margin-top: 5px;
    }
    
  }