@import "../../utilidades/variables";

/*estilos generales*/
*{
  @include reset
 }

 body{
    background-color:$secundary-color;

 }
/*estilos de header*/

 .titulos {
    @include flex;
    @include estilo-texto;
    margin: 15px;
    margin-bottom: 15px;
}

header nav ul {
  @include flex;
  flex-direction: row;
  @include estilos-page;
}

/*estilos de main*/

.contenedor2{
  margin: 5px;
  @include estilo-texto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.articulo, .btn, .item1, .item3, .item5 {
  width: 100%;
  max-width: 800px;
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
}

.contenedor2 button{
  width: 20%;
 margin-top: -12px;
 margin-bottom: 5px;
 margin-left: 15px;
 }

 .btn-success {
  @include boton-style;
}

.contenedor2 img{
  border-radius: 8px;
}

.contenedor2 img:hover {
  transform: scale(1.02);
}

.mb-3 {
     width: 100%;
     height: auto;
     resize: both;
     @include flex;
     flex-direction: column;
     align-items: center;
     margin-top: 15px;
     margin-bottom: 10px;
 }

 .form-control::placeholder {
  text-align: center;
  @include estilo-texto;

}

 .botEnviar{
  width: 20%;
 margin-bottom: 5px;
 margin-left: 15px;
 }

 main p{
  @include estilo-texto;
  font-size: 20px;
  @include flex;
 }

.botonColor{
  @include boton-style;
}

 .reseñas {
  @include grid(grid, repeat(2, 1fr), repeat(2, 1fr));
  gap: 5px;
  width: 100%;
  height: 100vh;
}
.res {
  background-color: $secundary-color;
  border: 1px solid #0002;
  @include flex;
  align-items: center;
  justify-content: center;
}


.res{
@include estilo-texto;
 font-family: 12px ;
   margin-bottom: 25px;
}


 .reseñas p {
  margin-bottom: 15px;
 }

 span{
   font-weight: bold;
 }

/*estilos de footer*/

 footer{
   @include estilo-texto;
    text-align: center;
    background-color:$secundary-color;
    margin: 0%;
    padding: 0%;

}
 .pagesFooter{
    top: 70%;
    width: 90%;
    font-size: 20px;
    margin-left: 8%;

 }
