@mixin reset {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

@mixin grid ($grid, $column, $row){
    display: grid;
    grid-template-columns: $column ;
    grid-template-rows: $row ;
}

@mixin flex{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    text-align: center;
}

@mixin estilo-texto($color: #d77362, $font-family: $tipo-letra) {
    color: $color;
    font-family: $font-family;
}